logging:
  level.root: WARN
  level.no: ${LOG_LEVEL:DEBUG}
  level.org.springframework: WARN
  level.org.springframework.web: WARN
  level.org.apache.jena: ERROR
server:
  port: 8080
spring:
  security.oauth2.resourceserver.jwt:
    jwk-set-uri: ${KEYCLOAK_OIDC_ISSUER:https://keycloak.staging.fellesdatakatalog.digdir.no/realms/fdk}/protocol/openid-connect/certs
    issuer-uri: ${KEYCLOAK_OIDC_ISSUER:https://keycloak.staging.fellesdatakatalog.digdir.no/realms/fdk}
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${RABBIT_USERNAME}
    password: ${RABBIT_PASSWORD}
  data.mongodb:
    host: ${MONGODB_HOST}
    username: ${MONGODB_USER}
    password: ${MONGODB_PASSWORD}
    authentication-database: ${MONGODB_AUTH}
    replica-set-name: ${MONGODB_REPLICASET}
    port: 27017
    database: conceptHarvester
    auto-index-creation: true
application:
  conceptsUri: ${FDK_CONCEPT_HARVESTER_URI:https://concepts.staging.fellesdatakatalog.digdir.no}/concepts
  collectionsUri: ${FDK_CONCEPT_HARVESTER_URI:https://concepts.staging.fellesdatakatalog.digdir.no}/collections
  organizationsUri: ${ORGANIZATION_CATALOG_URI:https://organization-catalog.staging.fellesdatakatalog.digdir.no}/organizations
  harvestAdminRootUrl: ${HARVEST_ADMIN_ROOT_URL:http://new-harvest-admin:8080}
  harvestAdminApiKey: ${ADMIN_API_KEY}
  cors.originPatterns: "${CORS_ORIGIN_PATTERNS}"
management:
  endpoints:
    web:
      base-path: /
      path-mapping:
        info: ping
        health: ready
      exposure:
        include: health, info, prometheus
    tags:
      application: fdk-concept-harvester
---
spring:
  config.activate.on-profile: develop
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
  data.mongodb:
    host: localhost
    username: admin
    password: admin
    authentication-database: admin
    replica-set-name: null
application:
  conceptsUri: https://concepts.staging.fellesdatakatalog.digdir.no/concepts
  collectionsUri: https://concepts.staging.fellesdatakatalog.digdir.no/collections
  organizationsUri: https://organization-catalog.staging.fellesdatakatalog.digdir.no/organizations
  harvestAdminRootUrl: https://admin-api.staging.fellesdatakatalog.digdir.no
  harvestAdminApiKey: test-key
  cors.originPatterns: "*"

---
spring:
  config.activate.on-profile: contract-test
  security.oauth2.resourceserver.jwt:
    jwk-set-uri: http://localhost:5050/realms/fdk/protocol/openid-connect/certs
    issuer-uri: http://localhost:5050/realms/fdk
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
  data.mongodb:
    host: localhost
    username: testuser
    password: testpassword
    authentication-database: admin
    replica-set-name: null
application:
  conceptsUri: http://localhost:5050/concepts
  collectionsUri: http://localhost:5050/collections
  organizationsUri: http://localhost:5050/organizations
  harvestAdminRootUrl: http://localhost:5050
  harvestAdminApiKey: test-key
  cors.originPatterns: "*"
